@use "../../../assets/styles/variables" as *;

.input{
    margin-right: 12px;
}
.create-order{
    .create-order-title{
        margin-bottom: 24px;
    }
    .order-form{
        .order-form-customer{
            margin-bottom: 36px;
            .order-form-customer-title{
                margin-bottom: 24px;
            }
        }
        .order-form-order{
            margin-bottom: 36px;
            .order-form-order-title{
                margin-bottom: 24px;
            }
        }
        .order-form-file{
            margin-bottom: 36px;
            .upload-zone{
                height: 156px;
                position: relative;
                padding: 36px;
                .drop-title{
                    position: absolute;
                    top: 0px;
                    left: 12px;
                }
            }
        }
    }
    
}