<div class="burger" (click)="changeIsMenuActive()">
  <svg viewBox="0 0 100 80" width="40" height="40" xmlns="http://www.w3.org/2000/svg">
    <rect width="100" height="15" fill="#fbf5b6" rx="3"></rect>
    <rect y="30" width="100" height="15" fill="#fbf5b6" rx="3"></rect>
    <rect y="60" width="100" height="15" fill="#fbf5b6" rx="3"></rect>
  </svg>
</div>


  @if(isMenuActive){
    <div class="dashboard" >
  <div class="menu-burger">
    <div class="logo"></div>
    <div class="close-menu" (click)="changeIsMenuActive()">
      <svg width="25" height="25" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <line x1="8" y1="8" x2="24" y2="24" stroke="#fbf5b6" stroke-width="2" stroke-linecap="round"/>
        <line x1="24" y1="8" x2="8" y2="24" stroke="#fbf5b6" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="menu-title title-h3">Меню</div>
    <nav class="menu">
      <ul>
        <li class="menu-item hvr-float-shadow wow animate__zoomIn">
          <a routerLink="/" class="menu-item-link title-h5">Главная</a>
        </li>
        <li class="menu-item hvr-float-shadow wow animate__zoomIn">
          <a routerLink="/customers" class="menu-item-link title-h5">Заказчики</a>
        </li>
        <li class="menu-item wow animate__zoomIn">
          <a routerLink="/orders" class="menu-item-link title-h5 hvr-float-shadow">Заказы</a>
        </li>
        <li class="menu-item hvr-float-shadow wow animate__zoomIn">
          <a routerLink="/create-order" class="menu-item-link title-h5">Создать заказ</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="logout">
    <button class="button button-mini" (click)="logout()">Выйти</button>
  </div>
</div>
  }

