<section class="orders">
    <div class="orders-title title-h2">Заказы</div>
    <div class="orders-filter-block">
        <div class="orders-filter-status filter-item">
            <button class="button button-transparent" (click)="changeIsFilterBlockActive()">Фильтр по статусу заказа</button>
            @if(isFilterBlockActive){
              <div class="filter-block">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" >
                <div formArrayName="statuses">
                  <div *ngFor="let status of statusList; let i = index">
                    <label>
                      <input type="checkbox" [formControlName]="i"
                             [value]="status"
                             (change)="onStatusChange(status, $event)"
                      />
                      {{ status }}
                    </label>
                  </div>
                </div>

                <button type="submit" class="button button-mini button-transparent" (click)="applyFilter()">Применить фильтр</button>
              </form>
            </div>
            }
        </div>
        <div class="orders-filter-reset filter-item">
            <button class="button button-transparent button-mini" (click)="filterReset()">Сбросить фильтры</button>
        </div>
        <div class="orders-search filter-item">
            <input
            type="text"
            [(ngModel)]="searchQuery"
            class="input customers-search-input filter-item"
          />
          <button
            class="button button-mini button-transparent button-search"
            (click)="ordersSearch()"
          >
            Поиск
          </button>
        </div>

    </div>

    <div class="orders-order-card">
      @if (orders && orders.length > 0) {
        @for (order of orders; track order.orderId) {
          <order-card [order]="order"></order-card>
        }
      }
    </div>
</section>
