<section class="orders">
    <div class="orders-title title-h2">Заказы</div>
    <div class="orders-filter-block">
        <div class="orders-filter-status filter-item">
            <button class="button button-transparent" (click)="changeIsFilterBlockActive()">Фильтр по статусу заказа</button>
            @if(isFilterBlockActive){
              <div class="filter-block">
                @for(status of statusList; track status){
                  <div>
                    <label>
                      <input
                        type="checkbox"
                        [value]="status"
                        (change)="onStatusChange(status, $event)"
                      />
                      {{ status }}
                    </label>
                  </div>
                }
                <button
                  class="button button-mini button-transparent"
                  (click)="applyFilter()"
                >
                  Применить
                </button>
              </div>
            }
        </div>
        <div class="orders-filter-reset filter-item">
            <button class="button button-transparent" (click)="filterReset()">Сбросить фильтры</button>
        </div>
        <div class="orders-search filter-item">
            <input
            type="text"
            [(ngModel)]="searchQuery"
            class="input customers-search-input filter-item"
          />
          <button
            class="button button-mini button-transparent button-search"
            (click)="ordersSearch()"
          >
            Поиск
          </button>
        </div>

    </div>

    <div class="orders-order-card">
      @if (orders && orders.length > 0) {
        @for (order of orders; track order.orderId) {
          <order-card [order]="order"></order-card>
        }
      }
    </div>
</section>
