<section class="order">
    <div class="second-container">
        <div class="order-detail">
            @if(customer){
                <div class="order-customer-block">
                    <div class="order-customer-name">
                        <div class="order-customer-name-title title-h5">Имя:</div>
                        <span class="name">{{customer.name}}</span>
                        @if(customer.lastName){
                            <span class="last-name">{{customer.lastName}}</span>
                        }
                        @if(customer.fatherName){
                            <span class="father-name">{{customer.fatherName}}</span>
                        }
                    </div>
                    <div class="order-customer-contact">
                        <div class="order-customer-contact-title title-h5">Контакты:</div>
                        <div class="ordrer-customer-contact-phone">Телефон: {{customer.phone}}</div>
                        <div class="ordrer-customer-contact-email">e-mail: {{customer.email}}</div>
                    </div>
                    @if(customer.comment){
                        <div class="order-customer-comment">
                            <div class="order-customer-comment-title title-h5">Комментарий</div>
                            <div class="order-customer-comment-comment">{{customer.comment}}</div>
                        </div>
                    }
                </div>
                <a [routerLink]="['/edit-customer', customer.id]" class="button">Редактировать</a>
              }
           @if(order && order.orderId){
            <div class="order-block">
                @if(order.orderName){
                    <div class="order-title title-h4">{{order.orderName}}</div>
                }
                @if(!order.orderName){
                    <div class="order-title title-h5">Просто заказ</div>
                }
               <div class="order-description">
                <div class="order-description-title title-h5">Описание:</div>
                @if(order.orderDescription){
                    <div class="order-description-text">{{order.orderDescription}}</div>
                }
               </div>
               <div class="order-status-block">
                <div class="order-status">Статус: {{order.orderStatus.status}}</div>
                <div class="order-status-change-data">Дата изменения: {{order.orderStatus.dateOfChange}}</div>
                <div class="order-status-comment">Комментарий: {{order.orderStatus.comment}}</div>
                <div class="order-status-history">

                    <div class="order-status-history-title title-h5">История заказа</div>
                    @for(orderSH of orderStatusHistoryShort; track orderSH){
                        <span class="order-status-short">{{orderSH.status}}</span>
                        <span class="order-status-change-data-short">{{orderSH.dateOfChange}}</span>
                        <span class="order-status-comment-short">{{orderSH.comment}}</span>
                    }
                    @if(order && order.orderHistoryList && order.orderHistoryList.length > 3){
                     <button class="button button-mini" (click)="changeIsHistoryActive()">Вся история</button>
                    }
                    @if(isHistoryActive){
                       <div class="order-status-history-list" >
                        <div class="close" (click)="changeIsHistoryActive()">Закрыть</div>
                        @for(orderHL of order.orderHistoryList; track orderHL){
                            <span class="order-status-short">{{orderHL.status}}</span>
                            <span class="order-status-change-data-short">{{orderHL.dateOfChange}}</span>
                            <span class="order-status-comment-short">{{orderHL.comment}}</span>
                        }
                       </div>
                    }
                </div>
               </div>
            </div>

                <div class="order-payment-block">
                    @if(order.orderPrice){
                        <div class="order-price">Стоимость заказа: {{order.orderPrice}}</div>
                    }
                    @if(payment && payment.lastPayment){
                    <div class="order-payment-amount">Получено за заказ: {{payment.amount}}</div>
                    <div class="order-payment-last">Предыдущий платеж:
                        <span class="order-payment-payment">Сумма: {{payment.lastPayment.payment}}</span>
                        <span class="order-payment-date">Дата: {{payment.lastPayment.paymentDate}}</span>
                        <span class="order-payment-comment">Комментарий: {{payment.lastPayment.comment}}</span>
                    </div>
                    <div class="order-payment-history-list">
                        <button class="order-payment-history button" (click)="changeIsHistoryPaymentActive()">История платежей</button>
                        @if(isHistoryPaymentActive){
                         <div class="history-payment-list" (click)="changeIsHistoryPaymentActive()">
                           @for (historyPayment of payment.listHistoryPayment){
                             <span class="order-payment-payment">Сумма: {{historyPayment.payment}}</span>
                             <span class="order-payment-date">Дата: {{historyPayment.paymentDate}}</span>
                             <span class="order-payment-comment">Комментарий: {{historyPayment.comment}}</span>

                           }
                         </div>
                        }

                    </div>

                    }
                    <button class="button" (click)="changeIsAddPaymentBlockActive()">Добавить оплату</button>
                    @if(isAddPaymentBlockActive){
                        <form class="payment-form" [formGroup]="paymentForm">
                            <input
                            type="number"
                            class="input"
                            [ngStyle]="{
                              borderColor:
                              paymentForm.get('amount')?.invalid &&
                                (paymentForm.get('amount')?.dirty ||
                                paymentForm.get('amount')?.touched)
                                  ? 'red'
                                  : ''
                            }"
                            placeholder="Сумма платежа"
                            formControlName="amount"
                          />
                          <input type="text"
                           class="input input-comment"
                           placeholder="Комментарий"
                           formControlName="comment"
                           >
                           <button class="button" (click)="addPayment(order?.orderId)">Добавить оплату</button>
                        </form>

                    }

                </div>

        }


        </div>
    </div>
</section>
