@use "../../../assets/styles/variables" as *;

.order {
  .second-container {
    margin-left: 48px;

    .order-title {
      margin-bottom: 48px;
    }

    .order-detail {
      .order-customer-block {
        background: $background-color-08;
        width: 500px;
        box-sizing: border-box;
        padding: 24px;
        margin-bottom: 36px;
        border-radius: 30px;
        border: 1px solid $font-color;

        .order-customer-title {
          margin-bottom: 12px;
        }

        .order-customer-name {
          margin-bottom: 12px;

          span {
            margin-right: 8px;
            font-size: 16px;
          }
        }

        .order-customer-contact-block {
          margin-bottom: 12px;

          .order-customer-contact-title {
            margin-bottom: 12px;
          }

          .order-customer-contact {
            margin-bottom: 6px;
            font-size: 18px;
          }
        }

        .order-customer-comment-block {
          margin-bottom: 12px;

          .order-customer-comment-title {
            margin-bottom: 6px;
          }

          .order-customer-comment {
            margin-bottom: 12px;
          }
        }

        .button {
          margin-top: 24px;
          margin-bottom: 12px;
        }
      }

      .order-block {
        background: $background-color-08;
        margin-bottom: 36px;
        box-sizing: border-box;
        padding: 24px;
        border-radius: 30px;
        border: 1px solid $font-color;
        width: 500px;

        .order-title-block {
          margin-bottom: 12px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .order-name {
          margin-bottom: 12px;
        }

        .order-description {
          margin-bottom: 12px;

          .order-description-title {
            margin-bottom: 6px;
          }

          .order-description-text {
            margin-bottom: 12px;
            font-size: 16px;
            max-width: 450px;
          }
        }

        .order-status-block {
          margin-bottom: 12px;

          .order-status-history-title {
            margin-bottom: 6px;
          }

          .order-status-history {
            border-radius: 10px;
            border: 1px solid $font-color;
            padding: 6px;
            box-sizing: border-box;

            span {
              margin-right: 6px;
            }

            .button {
              margin-top: 12px;
              margin-bottom: 12px;
              width: 120px;
            }

            .order-status-history-list {
              span {
                margin-right: 6px;
              }
            }
          }
        }

        .order-file {
          .order-file-title {
            margin-bottom: 6px;
          }

          .order-file-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;

            .order-file-item {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              border: 1px solid $font-color;
              padding: 12px;
              border-radius: 5px;

              .fas {
                margin-bottom: 6px;
              }

              .file-name {
                margin-bottom: 6px;
              }

            }
          }
        }
      }

      .order-payment-block {
        background: $background-color-08;
        margin-bottom: 36px;
        box-sizing: border-box;
        padding: 24px;
        border-radius: 30px;
        border: 1px solid $font-color;
        width: 500px;
        position: relative;

        .order-block-title {
          margin-bottom: 12px;
        }

        .order-price {
          margin-bottom: 12px;
        }

        .order-payment-amount {
          margin-bottom: 12px;
        }

        .order-payment-last {
          margin-bottom: 12px;

          span {
            margin-right: 6px;
          }
        }

        .order-payment-history-list {
          margin-bottom: 12px;

          .order-payment-history {
            margin-bottom: 12px;
            margin-top: 12px;
          }

          .history-payment-list {
            position: relative;
            margin-bottom: 12px;
            box-sizing: border-box;
            padding: 24px;
            border-radius: 10px;
            border: 1px solid $font-color;
            width: 452px;

            .close-history {
              position: absolute;
              top: 6px;
              right: 12px;
              cursor: pointer;
            }

            .history-payment-item {
              margin-bottom: 6px;

              span {
                margin-right: 6px;
              }
            }
          }
        }
        .button{
          width: 220px;

        }
        .payment-form{
          margin-top: 12px;
          margin-bottom: 12px;
          padding: 12px;
          border-radius: 10px;
          border: 1px solid $font-color;
        }
      }
      .button-block{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 48px;
        .button-block-item{
          width: 295px;
          margin-right: 24px;
        }
      }

      
    }
  }

}

@media (max-width: 420px) {

  }
