@font-face {
  src: url("../fonts/Nunitoregular.woff");
  font-family: Nunito;
  font-weight: 400;
}
@font-face {
  src: url("../fonts/Nunitobold.woff");
  font-family: Nunito;
  font-weight: 700;
}
@font-face {
  src: url("../fonts/appetite.ttf");
  font-family: Appetite;
  font-weight: 400;
}
@font-face {
  src: url("../fonts/DaysOne-Regular.ttf");
  font-family: Days;
  font-weight: 400;
}
