@use "fonts" as *;
@use "variables" as *;


body{
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  //background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color:  $font-color;
  background-color: $background-color;

}

.title-h2{
  font-family: Days, sans-serif;
  font-size: 36px;
}
.title-h3{
  font-family: Days, sans-serif;
  font-size: 30px;
}
.title-h4{
  font-family: Days, sans-serif;
  font-size: 24px;
}
.title-h5{
  font-family: Days, sans-serif;
  font-size: 18px;
}

.button {
  border-radius: 30px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 36px;
  cursor: pointer;
  background: $font-color;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: $background-color;
  text-decoration: none;
  border: 1px solid $font-color;

  &.button-mini{
    height: 24px;
    font-size: 14px;
  }
  &.button-transparent{
    background: $background-color;
    color: $font-color;
  }
}

.input{
  width: 360px;
  height: 48px;
  border: 1px solid $font-color;
  outline: none;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  font-size: 18px;
  padding: 0 12px;
  background-color: $background-color;
  font-family: Nunito, sans-serif;
  margin-bottom: 12px;
  color: $font-color;
  &::placeholder{
    color: $font-color-08;
  }
  &.textarea{
    padding: 12px;
    height: 96px;
  }
}
.block-input{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 420px) {
 .input {
  width: 290px;
 }
}
.order-status-change{
  position: relative;
  cursor: pointer;
  .change-status{
    font-size: 14px;
    position: absolute;
    top: -81px;
    right: -24px;
    padding: 36px 12px 24px 12px;
    border-radius: 20px;
    border: 1px solid $font-color;
    box-sizing: border-box;
    background-color: $background-color-08;

    .close-change-status{
      position: absolute;
      top: 9px;
      right: 24px;
      cursor: pointer;
    }

  }
}
